# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Google Drive\racingSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
